{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>Modern & Minimal Resume / CV & vCard Template</title>


    <!--=====================================================
			CSS Stylesheets
		=====================================================-->
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/linea.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/ionicons.min.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/owl.carousel.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/magnific-popup.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/style.css'>

</head>

<body>


    <!--=====================================================
			Preloader
		=====================================================-->
    <div id='preloader'>
        <div class='loader'></div>
        <div class='left'></div>
        <div class='right'></div>
    </div>


    <div class='main-content'>

        <!--=====================================================
				Page Borders
			=====================================================-->
        <div class='page-border border-left'></div>
        <div class='page-border border-right'></div>
        <div class='page-border border-top'></div>
        <div class='page-border border-bottom'></div>



        <!--=====================================================
				Menu Button
			=====================================================-->
        <a href='#' class='menu-btn'>
            <span class='lines'>
                <span class='l1'></span>
                <span class='l2'></span>
                <span class='l3'></span>
            </span>
        </a>


        <!--=====================================================
				Menu
			=====================================================-->
        <div class='menu'>
            <div class='inner'>
                <ul class='menu-items'>

                    <li>
                        <a href='#' class='section-toggle' data-section='intro'>
                            Home
                        </a>
                    </li>

                    <li>
                        <a href='#about' class='section-toggle' data-section='about'>
                            Upload your lease
                        </a>
                    </li>

                    <li>
                        <a href='#resume' class='section-toggle' data-section='resume'>
                            Your Rights
                        </a>
                    </li>

                    <li>
                        <a href='#portfolio' class='section-toggle' data-section='portfolio'>
                            Legal Aid
                        </a>
                    </li>


                    <li>
                        <a href='#contact' class='section-toggle' data-section='contact'>
                            Contact
                        </a>
                    </li>


                </ul>
            </div>
        </div>

        <div class='animation-block'></div>


        <!--=====================================================
				Sections
			=====================================================-->
        <div class='sections'>

            <!--=====================================================
					Main Section
				=====================================================-->
            <section id='intro' class='section section-main active'>

                <div class='container-fluid'>

                    <div class='v-align'>
                        <div class='inner'>
                            <div class='intro-text'>

                                <h1>Just Home</h1>

                                <p>
                                   for equitable housing
                                </p>

                                <div class='intro-btns'>
                                    
                                    <a href='#about' class='btn-custom section-toggle' data-section='about'>
                                        Share
                                    </a>

                                    <a href='#resume' class='btn-custom section-toggle' data-section='resume'>
                                        Learn
                                    </a>

                                    <a href='#portfolio' class='btn-custom section-toggle' data-section='portfolio'>
                                        Act
                                    </a>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </section>


            <!--=====================================================
					Share Section
				=====================================================-->
            <section id='about' class='section about-section border-d'>

                <div class='section-block about-block'>
                    <div class='container-fluid'>

                        <div class='section-header'>
                            <h2>
                                What's in your <strong class='color'>lease?</strong>
                            </h2>
                        </div>

                        <div class='row'>

                            <div class='col-md-6'>

                                <ul class='info-list'>

                                    <li>
                                        <strong>Landlord’s liability for loss or damage</strong>
                                    </li>

                                    <li>
                                        <strong>The Warranty of Habitability</strong>
                                    </li>

                                    <li>
                                        <strong>The Covenant on Quiet Enjoyment</strong>
                                    </li>

                                    <li>
                                        <strong>Maintenance and Repair</strong>
                                    </li>

                                    <li>
                                        <strong>Payments and Fees</strong>
                                    </li>

                                    <li>
                                        <strong>Termination of Tenancy and Eviction</strong>
                                    </li>

                                    <li>
                                        <strong>Landlord’s Right of Entry</strong>
                                    </li>

                                </ul>

                            </div>

                            <div class='col-md-8'>

                                <div class='about-text'>
                                    <p>
                                        Click "Upload you lease" to have our program analyze the important clauses for you, in plain English
                                        (or whatever language you need!).
                                    </p>

                                </div>

                                <div class='about-btns'>
                                    <form id="upload" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" name="myfile" class='btn-custom btn-color'>
                                        <button type="submit" class='btn-custom btn-color' href='#resume'>Upload</button>
                                    </form>

                                    <a href='#' type="submit" class='btn-custom btn-color'>
                                        Translate your lease
                                    </a>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </section>


            <!--=====================================================
					Your Rights Section
				=====================================================-->
            <section id='resume' class='section resume-section border-d'>

                <div class='section-block timeline-block'>

                    <div class='container-fluid'>

                        <div class='section-header'>

                            <h2>Your <strong class='color'>Rights</strong></h2>

                        </div>

                        <ul class='timeline'>

                            <li>

                                <div class='timeline-content'>

                                    <h4>Summary</h4>

                                    <em>
                                        <span>Masters Degree</span>
                                        <span>2013-2016</span>
                                    </em>

                                    <p>
                                       {{ summary }}
                                    </p>

                                </div>

                            </li>

                            <li>

                                <div class='timeline-content'>

                                    <h4>Violations</h4>

                                    <em>
                                        <span>Masters Degree</span>
                                        <span>2013-2016</span>
                                    </em>

                                    <p>
                                        {{ responseSummary }}
                                    </p>

                                </div>

                            </li>

                            <li>

                                <div class='timeline-content'>

                                    <h4>CSS College Larkana</h4>

                                    <em>
                                        <span>Masters Degree</span>
                                        <span>2013-2016</span>
                                    </em>

                                    <p>
                                        Lorem ipsum dolor sit amet, id electram reprimique his, dicta saepe oporteat
                                        eos an, esse erat doming at lam. Nec quodsi suscipiantur an, ad graece nemore
                                        ocurreret lam, agam ipsum meliore quo ut.
                                    </p>

                                </div>

                            </li>



                        </ul>

                    </div>

                </div>

                <div class='section-block timeline-block'>

                    <div class='container-fluid'>

                        <div class='section-header'>

                            <h2>My <strong class='color'>Experience</strong></h2>

                        </div>

                        <ul class='timeline'>

                            <li>

                                <div class='timeline-content'>

                                    <h4>CSS College Larkana</h4>

                                    <em>
                                        <span>Masters Degree</span>
                                        <span>2013-2016</span>
                                    </em>

                                    <p>
                                        Lorem ipsum dolor sit amet, id electram reprimique his, dicta saepe oporteat
                                        eos an, esse erat doming at lam. Nec quodsi suscipiantur an, ad graece nemore
                                        ocurreret lam, agam ipsum meliore quo ut.
                                    </p>

                                </div>

                            </li>

                            <li>

                                <div class='timeline-content'>

                                    <h4>CSS College Larkana</h4>

                                    <em>
                                        <span>Masters Degree</span>
                                        <span>2013-2016</span>
                                    </em>

                                    <p>
                                        Lorem ipsum dolor sit amet, id electram reprimique his, dicta saepe oporteat
                                        eos an, esse erat doming at lam. Nec quodsi suscipiantur an, ad graece nemore
                                        ocurreret lam, agam ipsum meliore quo ut.
                                    </p>

                                </div>

                            </li>

                            <li>

                                <div class='timeline-content'>

                                    <h4>CSS College Larkana</h4>

                                    <em>
                                        <span>Masters Degree</span>
                                        <span>2013-2016</span>
                                    </em>

                                    <p>
                                        Lorem ipsum dolor sit amet, id electram reprimique his, dicta saepe oporteat
                                        eos an, esse erat doming at lam. Nec quodsi suscipiantur an, ad graece nemore
                                        ocurreret lam, agam ipsum meliore quo ut.
                                    </p>

                                </div>

                            </li>



                        </ul>

                    </div>

                </div>

            </section>


            <!--=====================================================
					Legal Aid Section
				=====================================================-->
            <section id='portfolio' class='section portfolio-section border-d'>

                <div class='section-block portfolio-block'>

                    <div class='container-fluid'>


                        <div class='section-header'>
                            <h2>Housing <strong class='color'>Resources</strong></h2>
                        </div>

                        <ul class='portfolio-filters'>
                            <li>
                                <a href='#' class='active' data-group='all'>
                                    All
                                </a>
                            </li>
                            <li>
                                <a href='#' data-group='web'>
                                    Web
                                </a>
                            </li>
                            <li>
                                <a href='#' data-group='tech'>
                                    Tech
                                </a>
                            </li>
                            <li>
                                <a href='#' data-group='photography'>
                                    Photography
                                </a>
                            </li>
                        </ul>

                        <ul class='portfolio-items'>

                            <li data-groups='["web","tech"]'>
                                <div class='inner'>
                                    <img src='img/portfolio/1.jpg' alt>

                                    <div class='overlay'>

                                        <a href='#popup-1' class='view-project'>
                                            View Project
                                        </a>

                                        <!--project popup-->
                                        <div id='popup-1' class='popup-box zoom-anim-dialog mfp-hide'>
                                            <figure>

                                                <!--project popup image-->
                                                <img src='img/portfolio/1.jpg' alt>

                                            </figure>
                                            <div class='content'>

                                                <!--project popup title-->
                                                <h4>My Project Title</h4>

                                                <!--project popup description-->
                                                <p>
                                                    Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus.
                                                    Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et
                                                    fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim
                                                    quem quod cibo.
                                                </p>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </li>

                            <li data-groups='["tech","photography"]'>
                                <div class='inner'>
                                    <img src='img/portfolio/2.jpg' alt>

                                    <div class='overlay'>

                                        <a href='#popup-2' class='view-project'>
                                            View Project
                                        </a>

                                        <!--project popup-->
                                        <div id='popup-2' class='popup-box zoom-anim-dialog mfp-hide'>
                                            <figure>

                                                <!--project popup image-->
                                                <img src='img/portfolio/2.jpg' alt>

                                            </figure>
                                            <div class='content'>

                                                <!--project popup title-->
                                                <h4>My Project Title</h4>

                                                <!--project popup description-->
                                                <p>
                                                    Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus.
                                                    Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et
                                                    fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim
                                                    quem quod cibo.
                                                </p>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </li>

                            <li data-groups='["web","photography"]'>
                                <div class='inner'>
                                    <img src='img/portfolio/3.jpg' alt>

                                    <div class='overlay'>

                                        <a href='#popup-3' class='view-project'>
                                            View Project
                                        </a>

                                        <!--project popup-->
                                        <div id='popup-3' class='popup-box zoom-anim-dialog mfp-hide'>
                                            <figure>

                                                <!--project popup image-->
                                                <img src='img/portfolio/3.jpg' alt>

                                            </figure>
                                            <div class='content'>

                                                <!--project popup title-->
                                                <h4>My Project Title</h4>

                                                <!--project popup description-->
                                                <p>
                                                    Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus.
                                                    Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et
                                                    fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim
                                                    quem quod cibo.
                                                </p>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </li>


                            <li data-groups='["web"]'>
                                <div class='inner'>
                                    <img src='img/portfolio/4.jpg' alt>

                                    <div class='overlay'>

                                        <a href='#popup-4' class='view-project'>
                                            View Project
                                        </a>

                                        <!--project popup-->
                                        <div id='popup-4' class='popup-box zoom-anim-dialog mfp-hide'>
                                            <figure>

                                                <!--project popup image-->
                                                <img src='img/portfolio/4.jpg' alt>

                                            </figure>
                                            <div class='content'>

                                                <!--project popup title-->
                                                <h4>My Project Title</h4>

                                                <!--project popup description-->
                                                <p>
                                                    Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus.
                                                    Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et
                                                    fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim
                                                    quem quod cibo.
                                                </p>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </li>

                            <li data-groups='["tech"]'>
                                <div class='inner'>
                                    <img src='img/portfolio/5.jpg' alt>

                                    <div class='overlay'>

                                        <a href='#popup-5' class='view-project'>
                                            View Project
                                        </a>

                                        <!--project popup-->
                                        <div id='popup-5' class='popup-box zoom-anim-dialog mfp-hide'>
                                            <figure>

                                                <!--project popup image-->
                                                <img src='img/portfolio/5.jpg' alt>

                                            </figure>
                                            <div class='content'>

                                                <!--project popup title-->
                                                <h4>My Project Title</h4>

                                                <!--project popup description-->
                                                <p>
                                                    Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus.
                                                    Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et
                                                    fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim
                                                    quem quod cibo.
                                                </p>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </li>

                            <li data-groups='["photography"]'>
                                <div class='inner'>
                                    <img src='img/portfolio/6.jpg' alt>

                                    <div class='overlay'>

                                        <a href='#popup-6' class='view-project'>
                                            View Project
                                        </a>

                                        <!--project popup-->
                                        <div id='popup-6' class='popup-box zoom-anim-dialog mfp-hide'>
                                            <figure>

                                                <!--project popup image-->
                                                <img src='img/portfolio/6.jpg' alt>

                                            </figure>
                                            <div class='content'>

                                                <!--project popup title-->
                                                <h4>My Project Title</h4>

                                                <!--project popup description-->
                                                <p>
                                                    Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus.
                                                    Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et
                                                    fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim
                                                    quem quod cibo.
                                                </p>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </li>

                        </ul>

                    </div>

                </div>

            </section>


            <!--=====================================================
					About
				=====================================================-->
            <section id='contact' class='section contact-section border-d'>

                <div class='section-block contact-block'>

                    <div class='container-fluid'>

                        <div class='section-header'>
                            <h2>About <strong class='color'>Just Home</strong></h2>
                        </div>
                        <div>
                            <h3>Why we matter</h3>
                            <h3></h3>
                        </div>
                            <p>
                                As tenants are usually ignorant of landlord-tenant law and rarely read or take into account the leases they sign,
                                landlords are incentivized to continuously use unenforceable and misleading clauses (UMCs) in their leases.
                            </p>
                            <p>
                                Harvard Law School conducted a study of 70 leases from the Boston Metropolitan Area. 97 percent of the leases contained
                                at least one unenforceable clause which was illegal.
                            </p>
                            <p>
                               
                                In addition, in 2016, there were 15,708 evictions in the state of Massachusetts, an average of 43 per day.
                                
                                Just home was created to inform tenants about violations in their leases and to empower them to exercise their rights
                                under Massachussetts law.
                            </p>


                </div>

            </section>

        </div>

    </div>


    <!--=====================================================
			JavaScript Files
		=====================================================-->
    <script src='{{ STATIC_URL }}js/jquery.min.js'></script>
    <script src='{{ STATIC_URL }}js/jquery.shuffle.min.js'></script>
    <script src='{{ STATIC_URL }}js/owl.carousel.min.js'></script>
    <script src='{{ STATIC_URL }}js/jquery.magnific-popup.min.js'></script>
    <script src='{{ STATIC_URL }}js/validator.min.js'></script>
    <script src='{{ STATIC_URL }}js/script.js'></script>
</body>

</html>