{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Just Home Web Application</title>

  <!--=====================================================
  CSS Stylesheets
  =====================================================-->
  <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}bootstrap/css/bootstrap.min.css'>
  <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/linea.css'>
  <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/ionicons.min.css'>
  <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/owl.carousel.css'>
  <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/magnific-popup.css'>
  <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/style.css'>

</head>

<body>

  <div class='main-content'>

    <!--=====================================================
    Preloader
    =====================================================-->
    <div id='preloader'>
      <div class='loader'></div>
      <div class='left'></div>
      <div class='right'></div>
    </div>

    <div class='main-content'>

      <!--=====================================================
      Page Borders
      =====================================================-->
      <div class='page-border border-left'></div>
      <div class='page-border border-right'></div>
      <div class='page-border border-top'></div>
      <div class='page-border border-bottom'></div>

    <section class='section active contact-section border-d'>
      {% block content %}
      {% endblock %}
    </section>

    <!--=====================================================
    Menu Button
    =====================================================-->
    <a href='' class='menu-btn'>
      <span class='lines'>
        <span class='l1'></span>
        <span class='l2'></span>
        <span class='l3'></span>
      </span>
    </a>

    <!--=====================================================
    Menu
    =====================================================-->

    <div class='menu'>
      <div class='inner'>
        <ul class='menu-items'>

          <li>
            <a href="{% url 'home' %}" >
              Home
            </a>
          </li>

          <li>
            <a href="{% url 'upload' %}">
              Upload Your Lease
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class='animation-block'></div>
  </div>


  <!--=====================================================
  JavaScript Files
  =====================================================-->
  <script src='{{ STATIC_URL }}js/jquery.min.js'></script>
  <script src='{{ STATIC_URL }}js/jquery.shuffle.min.js'></script>
  <script src='{{ STATIC_URL }}js/owl.carousel.min.js'></script>
  <script src='{{ STATIC_URL }}js/jquery.magnific-popup.min.js'></script>
  <script src='{{ STATIC_URL }}js/validator.min.js'></script>
  <script src='{{ STATIC_URL }}js/script.js'></script>

</body>
</html>
