{% extends "base.html" %}

{% block content %}
    <div class='section-block contact-block'>
        <div class='container-fluid'>
          <div class='section-header'>
            <h2>About <strong class='color'>Just Home</strong></h2>
          </div>

            <p>
              As tenants are usually ignorant of landlord-tenant law and rarely read or take into account the leases they sign,
              landlords are incentivized to continuously use unenforceable and misleading clauses (UMCs) in their leases.
            </p>
            <p>
              In 2015, a student at Harvard Law School conducted <a href = "http://www.law.harvard.edu/programs/olin_center/fellows_papers/pdf/Furth_61.pdf">
              a study of 70 leases from the Boston Metropolitan Area.</a> 97 percent of the leases contained
              at least one unenforceable clause which was illegal.
            </p>
            <p>
              In 2016, there were 15,708 evictions in the state of Massachusetts, an average of 43 per day. Evictions are not only an effect, but also <a href = "https://evictionlab.org/why-eviction-matters/"> a cause of poverty, </a>
              trapping families in vicious cycles that are difficult to escape once an eviction takes place.
              <br></br>
              Just Home was created to inform tenants about violations in their leases and to empower them to exercise their rights
              under Massachussetts law, to avoid unjust evictions, to advocate for themselves, and seek out the assistance that they need to stabilize their housing situation.
          </p>
        </div>
      </div>

{% endblock %}
