{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class='section-block contact-block'>
    <div class='container-fluid'>
      <div class='section-header'>
        <h2>Upload Your Lease <strong class='color'>Just Home</strong></h2>
      </div>
      <form method="post" enctype="multipart/form-data">
        <p>
          {% csrf_token %}
          <input type="file" name="myfile">
       </p>
       <p>
          <button type="submit">Upload</button>
       </p>
      </form>
    </div>
  </div>
{% endblock %}
